header {
    background-image: url(../imag/bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 80vh;
}


/* تحديد مسار الخط الجديد وتضمينه في الصفحة */

@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}


/* تعيين الخط الجديد كخط أساسي للصفحة وتحديد جهة الكتابة من اليمين إلى اليسار */

body {
    direction: rtl;
    font-family: ar-font;
}


/* التنسيقات المطبقة على الطبقة الزرقاء التي تلي الخلفية ونقلها للأسفل */

header .MainCard {
    background-color: rgba(5, 117, 230, 0.8);
    color: #ffffff;
    padding: 3% 10%;
    transform: translateY(20%);
}


/* إضافة إطار للصورة وضبط الهامش الخاص بها */

header .MainCard img {
    border: 5px solid #72ace7;
    margin-bottom: 20px;
}


/* وضبط الهامش h1 تنسيقات الخط والمسافات في العنوان */

header .MainCard h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 25px;
}


/* تنسيقات الخط المطبقة على المسمى الوظيفي */

header .MainCard h1 span {
    font-size: 24px;
}


/* ضبط الهامش والحاشية الخاصة بأيقونات التواصل الاجتماعي */

header .MainCard ul {
    padding-right: 0;
    margin-bottom: 40px;
}


/* التنسيقات المطبقة على أيقونات التواصل الاجتماعي */

header .MainCard ul li {
    margin-right: 10px;
}

header .MainCard ul li a {
    color: #021b79;
    font-size: 24px;
}


/* ضبط التنسيقات الخاصة بالعنوان الثاني في الأسفل */

header .MainCard h2 {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}


/* ضبط التنسيقات الخاصة بالفقرة النصية في الأسفل */

header .MainCard p {
    font-size: 15px;
    line-height: 30px;
    color: #89c4ff;
    margin-bottom: 40px;
}


/* خصائص الخط المستخدمة في زر تحميل السيرة الذاتية */

header .MainCard>a {
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
}


/* التنسيقات المطبقة على شرائط التنقل وضبط الهامش من اليمين واليسار للقائمة */

nav.navbar ul.navbar-nav li a.nav-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 60px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}


/* تغير لون عناصر القائمة عند مرور مؤشر الفأرة فوقه */

nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active {
    color: #0575e6;
    background-color: #ffffff;
}


/* تغير لون عناصر القائمة إلى الأزرق عند النزول إلى أسفل الصفحة */

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #0575e6;
}


/* تغير لون عناصر القائمة عند مرور مؤشر الفأرة فوقه */

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #ffffff;
    background-color: #0575e6;
}


/* إضافة إطار يحيط بالقائمة عند النزول إلى أسفل الصفحة */

nav.navbar.noTransparrent {
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}


/* bootstrap تغير اتجاه النص ليصبح من اليمين الى اليسار حتى يتناسب مع النسخة الحديثة من  */

nav.navbar {
    text-align: right;
}


/* ضبط الهامش الخاص يأيقونة القائمة */

nav.navbar.noTransparrent button.navbar-toggler {
    margin: 30px auto;
}


/* تغير لون أيقونة القائمة عند الانتقال للأسفل */

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #0575e6;
}


/* التنسيقات المطبقة على عناصر القائمة في الشاشات ذات العرض الأصغر من 767 بيكسل  */


/* bootstrap يوجد تعديلات هنا لم يضفها المدرب وذلك لأن هذه التعديلات تتناسب مع النسخ الحديثة فقط من */

@media (max-width: 767px) {
    nav.navbar {
        min-height: 80px;
    }
    nav.navbar .container {
        width: 100%;
    }
    nav.navbar.noTransparrent button.navbar-toggler {
        margin: 0;
    }
}


/* تعيين لون القسم وضبط الحاشية من الأعلى والأسفل */

section.licence {
    padding: 220px 0 80px;
    background-color: #f6fbff;
    text-align: right;
    /* bootstrap حتى تتناسب مع النسخ الحديثة من */
}


/* تنسيقات المطبقة على الخط في العنوان */

section.licence .title {
    padding-bottom: 43px;
    Position: relative
}

section.licence .title h2 {
    font-size: 30px;
    line-height: 50px;
    color: #0575e6;
}


/* إضافة الخط الزمني تحت العنوان  */

section.licence .title:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #196dd1;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}


/* إظهار العنوان وأيقونة القبعة بسطرين مختلفين */

section.licence .title h2 i {
    display: block;
}


/* إضافة إطار على الفقرات وتعيين اللون داخلها */

section.licence ul.timeline li .time-box {
    background-color: #ffffff;
    border: 2px solid #f4f3f3;
    max-width: 48%;
    padding: 20px 25px;
    position: relative;
}


/* تطبيق التنسيقات الخاصة في العنوان ضمن الصناديق الزمنية */

section.licence ul.timeline li .time-box h4 {
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}


/* تنسيقات فقرة التاريخ والتي تظهر باللون الأزرق والخط باللون الأبيض */

section.licence ul.timeline li .time-box h4 span {
    color: #ffffff;
    background: #0575e6;
    padding: 0 5px;
    margin-left: 25px;
}


/* تنسيقات الفقرة النصية في الصندوق الزمني  */

section.licence ul.timeline li .time-box p {
    font-size: 15px;
    line-height: 22px;
    color: #b1b1b1;
}


/* إضافة المثلث الصغير الذي يظهر على يسار الفقرات  */

section.licence ul.timeline li .time-box:after {
    content: "";
    position: absolute;
    top: 5%;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
    border-left: 2px solid #f4f3f3;
    border-bottom: 2px solid #f4f3f3;
}


/* إضافة مسافة تفصل بين الفقرات والعنوان من خلال ضبط الحاشية الخاصية بعناصر الخط الزمني */

section.licence ul.timeline {
    padding-right: 0;
    padding-top: 45px;
    position: relative;
}


/* إضافة الخط الزمني الأزرق المتجه للأسفل */

section.licence ul.timeline:before {
    content: "";
    width: 2px;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    margin-right: -1px;
    background: #196dd1;
}


/* إضافة الدوائر الزرقاء التي تظهر منتصف الخط الزمني */

section.licence ul.timeline li {
    position: relative;
}

section.licence ul.timeline li:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #196dd1;
    position: absolute;
    top: 9%;
    right: 50%;
    margin-right: -5px;
}


/* تغير موضع الفقرات ذات الترتيب الزوجي لتظهر على طرف اليسار */

section.licence ul.timeline li:nth-of-type(even) {
    direction: ltr;
    text-align: left;
}


/* إزاحة التاريخ الزمني إلى اليسار */

section.licence ul.timeline li:nth-of-type(even) .time-box h4 span {
    margin-left: 0;
    margin-right: 25px;
    float: left;
}


/* تغيير موضع السهم الذي يظهر على يمين الفقرات ليظهر على يسار الفقرات */

section.licence ul.timeline li:nth-of-type(even) .time-box:after {
    left: auto;
    right: -10px;
    border: 0;
    border-top: 2px solid #f4f3f3;
    border-right: 2px solid #f4f3f3;
}


/* إزاحة الفقرات إلى الأعلى 50 بكسل */

section.licence ul.timeline li:not(:first-of-type) {
    margin-top: -50px;
}

@media (max-width: 767px) {
    section.licence ul.timeline li .time-box {
        max-width: 100%;
    }
    section.licence ul.timeline li:not(:first-of-type) {
        margin-top: 20px;
    }
    section.licence ul.timeline li .time-box:after {
        display: none;
    }
    section.licence ul.timeline:before {
        height: 90%;
    }
}


/* إضافة صورة خلفية للقسم وتعيين موضعها في وسط الصفحة */

section.statistics {
    background-image: url(../imag/bg2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


/* إضافة طبقة زرقاء شفافة أمام الخلفية */

section.statistics .overlay {
    background-color: rgba(5, 117, 230, 0.7);
    padding: 150px 0;
}


/* تنسيقات الخط المطبقة على الفقرة النصية في قسم المهارات */

section.statistics .overlay .stat p {
    font-size: 30px;
    color: #eee;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
}

section.statistics .overlay .stat .circle canvas {
    background-color: #eef6ff;
    border-radius: 50%;
    padding: 8px;
}

section.statistics .overlay .stat .circle {
    position: relative;
}

section.statistics .overlay .stat .circle span {
    font-size: 24px;
    font-weight: bold;
    color: #0575e0;
    position: absolute;
    top: 50px;
    right: 50px;
    transform: translate(50% -50%);
}


/* ضبط الحاشية من الأعلى والأسفل لعناصر الصور */

section.gallery {
    padding: 75px 0 90px;
}


/* ضبط الهامش ليفصل بين العنوان والفقرات في الأسفل */

section.gallery .title {
    margin-bottom: 35px;
}


/* تنسيقات الخط المطبقة في العنوان */

section.gallery .title h2 {
    font-size: 30px;
    line-height: 50px;
    color: #0575e6;
}


/* فصل الأيقونة عن العنوان ضمن سطر خاص بها */

section.gallery .title h2 i {
    display: block;
}


/* إخفاء عناصر الدخل في هذا القسم */

section.gallery .work-gallery input {
    display: none;
}


/* التنسيقات الخاصة بالتصنيفات الموجودة بالقسم */

section.gallery .work-gallery label {
    font-size: 18px;
    line-height: 35px;
    color: #8f9899;
    cursor: pointer;
    margin: 0 7px 40px;
    padding: 10px 30px;
    background-color: #ffffff;
    border: 2px solid #e4eeee;
    border-radius: 2px;
    transition: all 0.5s ease;
}


/* التنسيقات الخاصة بالتصنيفات عند مرور مؤشر الفأرة فوقه */

section.gallery .work-gallery label:hover {
    color: #ffffff;
    background-color: #0575e6;
    border: 2px solid #0575e6;
}


/* تغيير لون التصنيفات عند النقر عليها */

section.gallery .work-gallery input.item-type-1:checked~label.label-type-1,
section.gallery .work-gallery input.item-type-2:checked~label.label-type-2,
section.gallery .work-gallery input.item-type-3:checked~label.label-type-3,
section.gallery .work-gallery input.item-type-all:checked~label.label-type-all {
    color: #ffffff;
    background-color: #0575e6;
    border: 2px solid #0575e6;
}


/* تكبير الصور التابعة للتصنيف عند الضغط عليه */

section.gallery .work-gallery input.item-type-1:checked~.items .item-type-1,
section.gallery .work-gallery input.item-type-2:checked~.items .item-type-2,
section.gallery .work-gallery input.item-type-3:checked~.items .item-type-3 {
    transform: scale(1.08);
    opacity: 1;
}


/* تصغير باقي صور التصنيفات وظهورها بشفافية */

section.gallery .work-gallery input.item-type-1:checked~.items .item:not(.item-type-1),
section.gallery .work-gallery input.item-type-2:checked~.items>.item:not(.item-type-2),
section.gallery .work-gallery input.item-type-3:checked~.items>.item:not(.item-type-3) {
    transform: scale(0.8);
    opacity: 0.5;
}


/* جعل التنسيقات على مجموعة الصور تظهر ببطء */

section.gallery .work-gallery .items .item {
    transition: all 0.6s ease;
    margin-bottom: 25px;
}


/* إضافة خلفية للقسم الجديد وتوسيطها بالصفحة */

section.contacts {
    background-image: url(../imag/bg3.jpg);
    background-position: center center;
    background-size: cover;
}


/* تنسيقات الطبقة السوداء التي تغطي خلفية القسم */

section.contacts .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 100px;
}


/* التنسيقات الخاصة بخط العنوان وضبط الهامش الخاص به */

section.contacts .overlay .testimonials .title h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 27px;
    line-height: 50px;
}


/* تنسيق عارض الشرائح ليكون بحجم 65% من حجم الصفحة والهامش من الاسفل */

section.contacts .overlay .testimonials .slider {
    width: 65%;
    margin: 0px auto 80px;
}


/* تحديد عرض ولون الخط دخل عارض الشرائح */

section.contacts .overlay .testimonials .slider .carousel {
    min-height: 250px;
    color: #b1b1b1;
}


/* ضبط الحواشي الخاصة بعارض الشرائح وتحديد لون الخلفية داخله */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption {
    background-color: #ffffff;
    width: 100%;
    padding: 80px 70px 35px;
    right: 0;
    left: 0;
}


/* تحديد ارتفاع عارض الشرائح */

section.contacts .overlay .testimonials .slider .carousel .carousel-item {
    min-height: 350px;
}


/* تحريك الصورة إلى أعلى عارض الشرائح */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption img {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
}


/* التنسيقات المطبقة على الخط في العنوان */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption h3 {
    font-size: 18px;
    color: #555555;
    margin-bottom: 15px;
}


/* تنسيقات فقرة المسمى الوظيفي ضمن العنوان */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption h3 span {
    font-size: 15px;
    color: #9c9c9c;
}


/* التنسيقات المطبقة على الفقرة النصية في الأسفل وضبط الهامش الخاص بها */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption p {
    font-size: 15px;
    line-height: 22px;
    color: #b1b1b1;
    margin-bottom: 25px;
}


/* التنسيقات المطبقة على وسم الرابط التشعبي الذي يحتوي على أيقونات التواصل الإجتماعي */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption ul li a {
    font-size: 24px;
    color: #b2d8fe;
}


/* إزالة الحاشية التي يتم إضافتها على القوائم تلقائيًا */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption ul {
    padding-right: 0;
}


/* تحديد المسافة بين القوائم من خلال ضبط الهامش */

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption ul li {
    margin-right: 5px;
}


/* التنسيقات المطبقة على نقاط التنقل أسفل الشرائح */

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators li {
    max-width: 15px;
    height: 15px;
    border: 1px solid #0575e6;
    background-color: #ffffff;
}


/* تغيير لون نقطة التنقل الفعالة */

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators li.active {
    background-color: #0575e6;
}


/* ضبط الحواشي والهامش لعارض الشرائح */

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators {
    padding-right: 0;
    margin: 0;
    bottom: 12px;
}


/* إلغاء الحواشي المضافة إلى النقاط وتحريكها للأسفل */

section.contacts .overlay .testimonials .slider .carousel .carousel-item {
    min-height: 350px;
}


/* إضافة أسهم التنقل وتعيين موضعها في وسط عارض الشرائح */

section.contacts .overlay .testimonials .slider .carousel .carousel-control-next,
section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev {
    top: 50%;
    bottom: auto;
    width: auto;
    transform: translate(50%, -50%);
    z-index: 10;
    /* bootstrap حتى يتناسب مع النسخة الاحدث من */
}


/* التنسيقات المطبقة على أسهم التنقل */

section.contacts .overlay .testimonials .slider .carousel .carousel-control-next i,
section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev i {
    padding: 10px 20px;
    background: #0575e6;
    border-radius: 50%;
}


/* إلى منتصف عارض الشرائح prev إزاحة سهم */

section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev {
    transform: translate(-50%, -50%);
}


/* bootstrap تغيير اتجاه النص ليصبح من اليمين الى اليسار وحتى يتناسب مع النسخ الحديثة من */

section.contacts {
    text-align: right;
}


/* ضبط الحاشية العلوية وتعيين لون الخلفية */

section.contacts .overlay .contact-info {
    background-color: #ffffff;
    padding: 50px;
}


/* التنسيقات المطبقة على الخط في العنوان */

section.contacts .overlay .contact-info .title h3 {
    font-size: 30px;
    color: #0575e6;
    margin-bottom: 35px;
    line-height: 50px;
}


/* التنسيقات المطبقة على حقول الإدخال في نموذج الإرسال */

section.contacts .overlay .contact-info .form form .form-group input,
section.contacts .overlay .contact-info .form form .form-group textarea {
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    font-family: ar-font;
    font-size: 18px;
    color: #c2c2c2;
    line-height: 35px;
    padding-right: 45px;
}


/* تحديد ارتفاع حقل إدخال الرسائل */

section.contacts .overlay .contact-info .form form .form-group textarea {
    min-height: 220px;
    max-height: 220px;
}


/* التنسيقات المطبقة على الأيقونات الموجودة في حقول الإدخال */

section.contacts .overlay .contact-info .form form .form-group {
    position: relative;
}

section.contacts .overlay .contact-info .form form .form-group:before {
    font-family: FontAwesome;
    position: absolute;
    top: 8px;
    /* bootsrap حتى يتناسب مع النسخة الحديثة من */
    right: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #0575e6;
    display: inline-block;
}


/* إضافة أيقونة المستخدم في الحقل الأول */

section.contacts .overlay .contact-info .form form .form-group:first-of-type:before {
    content: "\f007";
}


/* إضافة أيقونة ظرف الرسالة في الحقل الثاني */

section.contacts .overlay .contact-info .form form .form-group:nth-of-type(2):before {
    content: "\f0e0";
}


/* التنسيقات المطبقة على زر الإرسال */

section.contacts .overlay .contact-info .form form button {
    font-family: ar-font;
    font-size: 24px;
    color: #0575e6;
    line-height: 25px;
    background-color: #ffffff;
    padding: 10px 70px;
    border: 2px solid #0575e6;
    border-radius: 3px;
    margin-right: 15px;
}


/* تنسيقات الخط المطبقة على القائمة */

section.contacts .overlay .contact-info ul.contact-us li {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 30px;
    color: #0575e6;
}


/* إلغاء الحاشية التي يتم افتراضها على القوائم */

section.contacts .overlay .contact-info ul {
    padding: 0;
}


/* ضبط الهامش عن يمين أيقونات التواصل الاجتماعي */

section.contacts .overlay .contact-info ul.social li {
    margin-right: 9px;
}


/* التنسيقات المطبقة على أيقونات التواصل الاجتماعي */

section.contacts .overlay .contact-info ul.social li a i {
    background-color: #9bc8f5;
    color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s ease;
}


/* تغيير لون أيقونات التواصل الإجتماعي عند مرور مؤشر الفأرة فوقه */

section.contacts .overlay .contact-info ul.social li a i:hover {
    background-color: #0575e6;
}


/* التنسيقات المطبقة على الفقرة النصية أسفل الصفحة */

section.contacts .overlay .copyright p {
    font-size: 18px;
    color: #ececec;
    line-height: 77px;
    margin: 0px;
}


/* إظهار رسالة الخطأ باللون الأحمر */

section.contacts form .error {
    color: red;
}


/* تحديد مسافة تفصل الصور عن بعضها في ملف الأعمال */

section.gallery .work-gallery .items .item {
    transition: all 0.6s ease;
    margin-bottom: 25px;
}


/* تعديل التنسيقات المطبقة على بعض العناصر لتلائم الشاشات الأصغر من 990 بكسل */

@media (max-width: 990px) {
    nav.navbar ul.navbar-nav li a.nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    section.contacts .overlay .testimonials .slider .carousel .carousel-item {
        min-height: 390px;
    }
    section.contacts .overlay .contact-info ul.social li a i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    section.contacts .overlay .contact-info .form form .form-group input,
    section.contacts .overlay .contact-info .form form .form-group textarea {
        font-size: 14px;
    }
}


/* يمكنك اضافة هذا الجزء بالإضافة إلى الشيفرة المشروحه فى الدروس السابقة  */

@media (max-width: 768px) {
    section.contacts .overlay .contact-info ul.contact-us li {
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    section.contacts .overlay .testimonials .slider .carousel .carousel-item {
        min-height: 450px;
    }
    section.contacts .overlay .contact-info ul.social li a i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    section.contacts .overlay .contact-info .form form .form-group input,
    section.contacts .overlay .contact-info .form form .form-group textarea {
        font-size: 14px;
    }
}